.search-bar {
  margin: 20px;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.video-detail .details:last-child {
  margin-bottom: 10px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

textarea{
  display:block;
  box-sizing: padding-box;
  overflow:hidden;

  padding:10px;
  width:100%;
  font-size:14px;
  border-radius:6px;
  box-shadow:2px 2px 8px rgba(0,0,0,.3);
  border:0;
}

.nav-menu {
  position: absolute;
  top: 1.5em;
  right: 0;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu li {
  display: inline-block;
  padding: 0 1em;
}
